* {
    margin: 0;
    padding: 0;
    font-family: 'Hahmlet', arial, sans-serif;
}

/*----Intro Section----*/

.firstSection {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: x-large;
    width: 100%;
}

.background {
    background-image: url(./imgs/web-design-2906159_1920.jpg);
    height: 80vh;
    width: 100vw;
    background-size: cover;
}

.introText {
    color: white;
    padding-right: 10px;
    margin: 0 10px;
    flex-direction: column;
}

.introTextWrapper {
    display: flex;
    background: rgba(0, 0, 0, 0.500);
    position: absolute;
    width: 100%;
    flex-direction: column;
    height: 80vh;
    text-align: center;
    justify-content: center;
}

/*----Intro Section----*/

footer {
    background: rgb(20, 20, 20);
    width: 100%;
    height: 10vh;
}

/*----Main Section----*/
.mainSection {
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
    font-size: large;
    overflow: hidden;
}

.seo, .webDesign, .maintenance {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icons {
    width: 30vw;
    margin: 20px 0;
}
/*----End Main Section----*/

/*----Upwork Section----*/
.upworkbtn {
    text-decoration: none;
    padding: 10px 20px;
    background: rgb(238, 16, 16);
    border-radius: 7px;
    color: white;
    transition-duration: 500ms;
    width: 10vw;
    font-weight: bold;
}

.upworkbtn:hover {
    background: rgb(255, 87, 87);
    color:black;
}

.upworkWrapper {
    background: #eeeeee;
    margin: 0;
    padding: 40px 0;
    align-items: center;
    color: black;
    font-weight: bold;
    border-top: 2px solid black;
    box-shadow: 0px 0px 5px black;
}
/*End Upwork Section*/

/*Floating hire button*/
.floatingHire {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgb(238, 16, 16);
    box-shadow: 3px 3px #666161;
    margin: 0 20px 20px 0;
    font-size: large;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    transition-duration: 500ms;
    font-weight: bold;
}

.floatingHire:hover {
    background: rgb(255, 87, 87);
    color:black;
}
/*End floating hire button*/

/* ----JS Fades---- */
.disapear {
    transition-duration: 500ms;
    transform: translateX(100%);
    opacity: 0%;
    transition-timing-function: ease-in;
}

.fadein {
    display: block;
    transition-duration: 700ms;
    opacity: 100%;
    transition-timing-function: ease-in;
}

.fadeout {
    transform: translateY(50px);
    opacity: 0%;

}

/* ----End JS Fades */

/*Tablet screen and bigger*/
@media screen and (min-width: 730px) {
    .mainSection {
        display: flex; 
        flex-direction: row;
    }

    .icons {
        height: 130px;
        width: 130px;
    }

    .upworkWrapper {
        flex-direction: column;
    }

    .webDesign, .seo, .maintenance > p{
        margin: 0 20px;
    }

    .introTextWrapper {
        align-items: flex-end;
    }

    .introText {
        margin: 0 30px;
    }
}